<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Disable directory listing
    Options -Indexes +FollowSymLinks
    
    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    
    # Don't redirect if already in public folder
    RewriteCond %{REQUEST_URI} ^public/ [OR]
    RewriteCond %{REQUEST_URI} ^/glove-academy/public/
    RewriteRule ^ - [L]
    
    # Don't redirect if it's a real file in root
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]
    
    # Redirect everything else to public folder
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

